<a href="https://colab.research.google.com/github/raju1207/Bike-sales-dataset-anaylsis/blob/main/Bike_sales_dataset_anaylsis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [18]:
Bike_sales = pd.read_csv('Bike Sales.csv')

In [19]:
Bike_sales

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,11/26/2013,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,11/26/2015,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,3/23/2014,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,3/23/2016,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,5/15/2014,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,4/12/2016,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,4/2/2014,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,4/2/2016,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,3/4/2014,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,3/4/2016,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

In [20]:
Bike_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 15.5+ MB

In [ ]:
# Q-1: What is the total revenue generated per year?

In [21]:
# Total revenue per year

total_revenue_per_year = Bike_sales.groupby('Year')['Revenue'].sum()
print(total_revenue_per_year)

Year
2011     8964888
2012     9175983
2013    15240037
2014    14152724
2015    20023991
2016    17713385
Name: Revenue, dtype: int64

In [ ]:
# Q-2: Which product category has the highest profit margin?

In [22]:
# Average profit margin by product category

Bike_sales['Profit_Margin'] = Bike_sales['Profit'] / Bike_sales['Revenue']
avg_profit_margin = Bike_sales.groupby('Product_Category')['Profit_Margin'].mean()

print(avg_profit_margin)

Product_Category
Accessories    0.564864
Bikes          0.326013
Clothing       0.314919
Name: Profit_Margin, dtype: float64

In [ ]:
# Q-3: What is the age group distribution of customers for each product category?

In [23]:
# Age group distribution per product category

age_group_distribution = Bike_sales.groupby(['Product_Category', 'Age_Group']).size()
print(age_group_distribution)

Product_Category  Age_Group
Accessories       Adults (35-64)          34750
                  Seniors (64+)             572
                  Young Adults (25-34)    22992
                  Youth (<25)             11806
Bikes             Adults (35-64)          12698
                  Seniors (64+)              56
                  Young Adults (25-34)     9834
                  Youth (<25)              3394
Clothing          Adults (35-64)           8376
                  Seniors (64+)             102
                  Young Adults (25-34)     5828
                  Youth (<25)              2628
dtype: int64

In [ ]:
# Q-4: Which country has the highest average order quantity?

In [24]:
# Average order quantity by country

avg_order_quantity_by_country = Bike_sales.groupby('Country')['Order_Quantity'].mean()
print(avg_order_quantity_by_country)

Country
Australia         11.012074
Canada            13.560375
France            11.728951
Germany           11.328167
United Kingdom    11.543172
United States     12.180253
Name: Order_Quantity, dtype: float64

In [ ]:
# Q-5: What is the monthly revenue trend?

In [25]:
# Monthly revenue trend

monthly_revenue = Bike_sales.groupby('Month')['Revenue'].sum()
print(monthly_revenue)

Month
April        7602750
August       5711193
December     9086931
February     6834583
January      7005895
July         5721459
June         9043008
March        7347164
May          8836763
November     6244298
October      5995079
September    5841885
Name: Revenue, dtype: int64